{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Expenses</title>
    <link rel="stylesheet" href="{% static 'accounts/add_forms.css' %}">
</head>
<body>

<div class="form-container">
    <h2>Add Expenses</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Amount (Rs.)</label>
        <input type="number" name="amount" step="0.01" required>

        <label>Category</label>
        <select name="category" required>
            <option value="Food"> Food</option>
            <option value="Transport"> Transport</option>
            <option value="Shopping"> Shopping</option>
            <option value="Bills"> Bills</option>
            <option value="Health"> Health</option>
            <option value="Others"> Others</option>
        </select>

        <label>Date</label>
        <input type="date" name="date" required>

        <label>Payment method</label>
        <select name="Payment method" required>
            <option value="Bank">Bank</option>
            <option value="Cash">Cash</option>
        </select>

        <label>Description</label>
        <textarea name="description" placeholder="Optional"></textarea>

        <button type="submit">Add Expense</button>
    </form>
</div>

</body>
</html>
