{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Income</title>
    <link rel="stylesheet" href="{% static 'accounts/add_forms.css' %}">
</head>
<body>

<div class="form-container">
    <h2>Add Income</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Amount (Rs.)</label>
        <input type="number" name="amount" step="0.01" required>

        <label>Source</label>
        <select name="source" required>
            <option value="Salary"> Salary</option>
            <option value="Freelancing"> Freelancing</option>
            <option value="Business"> Business</option>
            <option value="Gift"> Gift</option>
            <option value="Others"> Others</option>
        </select>

        <label>Date</label>
        <input type="date" name="date" required>

         <label>Payment method</label>
        <select name="Payment method" required>
            <option value="Bank">Bank</option>
            <option value="Cash">Cash</option>
        </select>

        <label>Description</label>
        <textarea name="description" placeholder="Optional"></textarea>

        <button type="submit">Add Income</button>
    </form>
</div>

</body>
</html>
